.header-right-section-container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.share-modal-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 12px;
	width: 460px;

	border-radius: 4px;
	box-shadow: 4px 10px 16px 2px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);

	.absolute-relative-time-toggler-container {
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: space-between;

		.absolute-relative-time-toggler-label {
			color: var(--bg-vanilla-100);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */
			letter-spacing: -0.07px;
		}
	}

	.absolute-relative-time-toggler {
		display: flex;
		gap: 4px;
		align-items: center;
	}

	.absolute-relative-time-error {
		font-size: 12px;
		color: var(--bg-amber-600);
	}

	.share-link {
		.url-share-container {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 16px;

			.url-share-container-header {
				display: flex;
				flex-direction: column;
				gap: 4px;

				.url-share-title,
				.url-share-sub-title {
					color: var(--bg-vanilla-100);
					font-size: 13px;
					font-style: normal;
					font-weight: 500;
					line-height: 20px; /* 142.857% */
					letter-spacing: -0.07px;
				}

				.url-share-sub-title {
					font-size: 12px;
					color: var(--bg-vanilla-300);
					font-weight: 400;
					line-height: 18px;
					letter-spacing: -0.06px;
				}
			}
		}
	}
}

.lightMode {
	.share-modal-content {
		.absolute-relative-time-toggler-container {
			.absolute-relative-time-toggler-label {
				color: var(--bg-ink-400);
			}
		}

		.share-link {
			.url-share-container {
				.url-share-container-header {
					.url-share-title,
					.url-share-sub-title {
						color: var(--bg-ink-400);
					}

					.url-share-sub-title {
						color: var(--bg-ink-300);
					}
				}
			}
		}
	}
}
